*{
    box-sizing: border-box;
}
/* 
.wordle-board {
    display: flex;
    width: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
} */

.copy {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.wordle-board {
    display: grid;
    gap: 20px;
    justify-content: center;
    padding-top: 2rem;
    margin: 2rem;
}

.row {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.tile {
    display: flex;
    flex-direction: row;
    height: 38px;
    width: 38px;
    gap: 5px;
    border: 2px solid rgb(211, 214, 218);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.reveal-button{
    width: 50%;
}